
.body {
    min-height: 110vh;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    text-align: center;
}

.body > h1 {
    position: absolute;
    top: -5%;
    left: 45%;
    font-weight: 700;
    font-size: 6rem;
    color: wheat;
    z-index: 10;
}