@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&display=swap');

:root{
  --main-color: #064469;
  --main-accent: #5790AB;
  --main-light: #9CCDDB;
  --main-dark: #072D44;

  --gray-0: #ffffff;
  --gray-100: #f4f7fa;
  --gray-800: #011133;

  --icons-rotate: rotate;
  --icons-pulse: pulse;
  --pulse-time: 3s;
  --pulse-delay: 0.2s;
  --rotate-state: running;
}

/* *{
  outline: 1px solid green;
} */


body {
  margin: 0;
  font-family: 'Poppins','Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

  overflow-x: hidden;
  background-color: white;
  /* background-color: #1B1B1F; */
}

ul {
  list-style-type: none;
}

/***List Items****/

