.btn{
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
    background-color: #0e8155;
    border: #0e8155;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    transition: background-color 0.3 ease-in-out;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.btn span {
    position: absolute;
    width: 150%;
    aspect-ratio: 1/1;
    background: rgba(255,234,200, 0.5);
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.pulse span{
    animation: pulse 1s ease;
}

.disabled {
    cursor: not-allowed;
}

@keyframes pulse { 
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

